.buttonAlgo{
    border-radius: 15px !important; 
    width: 70px;
}

#timeQuantum{
  width: 80px;
}

#heading{
    display:none;
}
#heading.active{
    display:block;
}
#chart{
    margin-bottom: 10px;
}

h1{
    margin:auto;
}